*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  color: black;
  transition: all 1s ease;
}

body {
  width: 100%;
  font-family: Inter;
}
section,
header {
  max-width: 1500px;
  margin: auto;
}
section {
  margin-bottom: 50px;
}
.header_container {
  background-color: #f6f8fa;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px 5%;
}
.trigram {
  display: none;
}

.logo img {
  height: 46px;
}
.logo {
  margin-right: auto;
}

header ul li {
  display: inline-block;
  padding: 0 1rem;
}

.btn {
  background-color: blue;
  color: aliceblue;
  border: 0;
  border-radius: 25px;
  height: 50px;
  width: auto;
  max-width: 150px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 1s ease;
}
.hero_container {
  background-image: url(/assets/bg/background-top.svg);
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 50px;

  color: black; /* Ensures text color contrasts against the background */
}
.hero_card > h1 {
  font-size: 50px;
}
.hero_card {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  /* max-width: 325px; */
}
.btn_row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo_bubbles {
  background-color: transparent;
  position: relative;
  height: 400px;
  width: 40vw;
  min-width: 328px;
}
.logo_bubbles img {
  width: 70%;
  height: 70%;
  object-fit: cover; /* Ensures the image covers the entire area without distorting */
  border-radius: 10%; /* Ensures the image itself is also circular */
}
.bubble {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation-name: tricks;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}
.logo_1 {
  height: 70px;
  width: 70px;
  padding: 10px;
  top: 10%;
  left: 10%;
}
.logo_2 {
  padding: 10px;
  top: 10%;
  left: 35%;
}

.logo_3 {
  top: 10%;
  right: 0%;
}
.logo_4 {
  top: 40%;
  left: 15%;
}
.logo_5 {
  top: 40%;
  right: 10%;
}
.logo_6 {
  height: 70px;
  width: 70px;
  bottom: 10%;
  left: 35%;
}
.logo_7 {
  bottom: 0%;
  right: 10%;
}
.features {
  text-align: center;
  padding: 1rem;
}
.circles {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 0 30%;
}
.circle {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.outer-circle {
  display: inline-block;
  width: 50px;

  height: 50px;

  border-radius: 50%;

  background-color: #ecf2ff;

  position: relative;
}
.line::after,
.line::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  height: 1px;
  width: 57px;
  background-color: black;
  gap: 2px;
}

.first::before,
.last::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  height: 1px;
  width: 57px;
  background-color: white;
  gap: 2px;
}
.first::after,
.last::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  height: 1px;
  width: 57px;
  background-color: black;
  gap: 2px;
}

.inner-circle {
  width: 6px;

  height: 6px;

  border-radius: 50%;

  background-color: #0066ff;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);
}
.pricing {
  text-align: center;
}
.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.main_card {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: 0.5px solid black;
  transition: all 1s ease;
}
.main_card .btn {
  margin: auto;
}
.main_card h2 {
  font-weight: normal;
}
.main_card span {
  font-weight: bold;
  font-size: 50px;
}
.grid_cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  row-gap: 1rem;
}
.card {
  text-align: start;
  padding: 5%;
}
.card img {
  height: 50px;
}
.green_bubble {
  font-size: 0.75rem;
  background-color: #01c9a7;
  color: aliceblue;
  border: 0;
  border-radius: 20px;
  padding: 2px 10px;
}
.hire_container {
  background-color: #20335b;
}
.hire {
  padding: 4rem;
  color: white;
  display: flex;
  gap: 2rem;
}
.hire_card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hire_title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.person-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.person-info img {
  border-radius: 100%;
}
form {
  border-radius: 2%;
  background-color: white;
  color: black;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.form_group {
  display: flex;
  width: 100%;
  gap: 2%;
}
.form_group > *,
form > * {
  width: 100%;
}

input:not([type="checkbox"]),
select {
  height: 44px;
}

input:not([type="checkbox"]),
select,
textarea {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

textarea {
  height: 150px;
}
form input[type="submit"] {
  width: 120px;
}
form div > a,
form label {
  color: rgba(0, 0, 0, 0.6);
}
footer {
  display: flex;
  padding: 40px 30px;
  gap: 40px;
  justify-content: center;
  align-content: center;
}

footer img {
  height: 30px;
}
.foot_class {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.foot_class > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foot_class > a {
  padding: 10px;
}

@media (min-width: 1024px) {
  a:hover {
    color: #2476ff;
    font-size: 1.1rem;
  }
  .btn:hover {
    background-color: darkblue;
    transform: scale(1.05);
  }
  .main_card:hover {
    box-shadow: 1px 1px 10px;
    transform: scale(1.01);
  }
  @keyframes tricks {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.5) rotate(360deg);
    }
    100% {
      transform: scale(1);
    }
  }
}
@media (max-width: 1023px) {
  .hide_on_mobile {
    display: none;
  }
  .trigram {
    display: block;
  }
  .card_container {
    flex-wrap: wrap;
  }
  .foot_class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
  .hire {
    flex-direction: column;
    align-items: center;
  }
  .hire_card {
    flex-direction: row;
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  .grid_cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .foot_class {
    display: flex;
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .hire {
    padding: 0.5rem;
  }
  .hire_card {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .form_group {
    flex-direction: column;
    gap: 1rem;
  }
  .line::after,
  .line::before,
  .first::before,
  .last::after,
  .first::after,
  .last::before {
    display: none;
  }
  .circles {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .stack {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
